<script type="text/javascript" src="https://unpkg.com/vue@2.4.2"></script>

<div id="app">
	<ul>
		<li v-for="person in persons">{{ person.name }}</li>
	</ul>
	<hr>
	<ul>
		<li v-for="person in persons">
			<div v-for="(value, key) in person">{{ key }}: {{ value }}</div>
		</li>
	</ul>
	<hr>
	<ul>
		<li v-for="person in persons">
			<div v-for="(value, key, id) in person">{{ key }}: {{ value }} -> {{ id }}</div>
		</li>
	</ul>
	<hr>
	<!-- loop through number -->
	<span v-for="n in 10">{{ n }}</span>
</div>

<script type="text/javascript">
	new Vue({
		el: '#app',
		data: {
			persons: [
				{name: 'Max', age: 27, color: 'red'},
				{name: 'Ismuaji', age: 'unknown', color: 'blue'},
			],
		}
	});
</script>